

<table>
  <tr>
    <th>Station</th>
    <th>Latest (UTC)</th>
    <th>Latency</th>
    <th>Updated</th>
  </tr>
  {{#each model as |latency|}}
    <tr>
      <td>{{latency.key}}</td>
      <td>{{moment-format latency.latest 'YYYY-MM-DD HH:mm:ss'}}</td>
      <td>{{moment-from-now latency.latest in  terval=2000}}</td>
      <td>{{moment-from-now latency.accessTime  in  terval=2000}}</td>
    </tr>
  {{/each}}
</table>

<h3>{{moment-format (utc interval=1000) 'YYYY-MM-DD HH:mm:ss'}}</h3>

{{yield}}
