{{outlet}}


<ul class="horizontal">
  <li>
    <button {{action "refresh"}} >Refresh</button>
  </li>
  <li><LinkTo @route="stations.show.cellstatus.rssi" @query={{hash end=prevISO}}>Prev</LinkTo></li>
  <li><LinkTo @route="stations.show.cellstatus.rssi" @query={{hash end="now"}}>Now</LinkTo></li>
  <li><LinkTo @route="stations.show.cellstatus.rssi" @query={{hash end=nextISO}}>Next</LinkTo></li>
</ul>
<ul class="horizontal">
  <li><LinkTo @route="stations.show.cellstatus.rssi" @query={{hash days="3"}}>3 Days</LinkTo></li>
  <li><LinkTo @route="stations.show.cellstatus.rssi" @query={{hash days="7"}}>Week</LinkTo></li>
  <li><LinkTo @route="stations.show.cellstatus.rssi" @query={{hash days="30"}}>Month</LinkTo></li>
</ul>

<h3>RSSI</h3>

<CellstatusPlot @statusData={{model.cellstatus}} @plotkeys="rssi" @end={{model.end}} @start={{model.start}} />
