
<h3>Network: {{@model.network.networkCode}} {{@model.network.description}}</h3>


<ShowHide @divTitle="Map">
  <QuakeStationMap class="smallmap"  @stationlink='stations.station'  @stations={{@model.activeStations}}  @center={{@model.center}} @zoomLevel=7 >

  </QuakeStationMap>
</ShowHide>

<div class="stationList">
<h1>Stations</h1>
<ul>
{{#each model.activeStations as |sta|}}
<li>
  <LinkTo @route='stations.station' @model={{sta.id}}>
    {{sta.codes}} - {{sta.name}}
  </LinkTo>

</li>
{{/each}}
</ul>

<LatencyTable/>

</div>
{{outlet}}
