

<h3>Net: {{model.networkCode}} {{model.description}}</h3>
<div class="stationList">
<h1>Stations {{model.stations.length}}</h1>
<ul>
{{#each model.network.stations as |sta|}}
<li>
  {{#link-to 'stations.show' sta}}
    {{sta.codes}} - {{sta.name}}
  {{/link-to}}

</li>
{{/each}}

<p>{{model.rsid}} {{model.latency.length}}</p>

{{#each model.latency as |latency|}}
<li>
    {{latency.key}} - {{latency.latest}} {{latency.latencyHumanize}}

</li>
{{/each}}
</ul>
</div>

{{outlet}}
