

<h3>Net: {{model.network.networkCode}} {{model.network.description}}</h3>

<div class="stationList">
<h1>Stations {{model.network.stations.length}}</h1>
<ul>
{{#each model.stationList as |sta|}}
<li>
  {{#link-to 'stations.show' sta.id}}
    {{sta.codes}} - {{sta.name}}
  {{/link-to}}

</li>
{{/each}}
</ul>

{{latency-table model=model.latency}}

</div>

{{outlet}}
