
<h3>Station: {{model.station.codes}} <LinkTo @route="stations">Show All</LinkTo></h3>
<ul>
  <li>{{model.station.name}}</li>
  <li>{{model.station.description}}</li>
  <li>{{model.station.startTime}}</li>
  <li>{{model.station.endTime}}</li>
  <li>{{model.station.latitudeFormatted}}</li>
  <li>{{model.station.longitudeFormatted}}</li>
  <li>{{model.station.elevation}}</li>
</ul>

<span>Choose Station: </span>
<select onchange={{action 'changeStation'  value="target.value"}}>
  {{#each model.stationList as |sta|}}
    {{#if sta.isActive}}
      <option value={{sta.id}} selected={{eq sta model.station}}>{{sta.stationCode}}</option>
    {{/if}}
  {{/each}}
</select>

<ul>
  <li><LinkTo @route="stations.show.channels" @model={{model.station.id}}>Channels</LinkTo></li>
  <li><LinkTo @route="stations.show.helicorder" @model={{model.station.id}}>Helicorder</LinkTo></li>
  <li><LinkTo @route="stations.show.cellstatus.voltage" @model={{model.station.id}}>Voltage Plots</LinkTo></li>
  <li><LinkTo @route="stations.show.cellstatus.rssi" @model={{model.station.id}}>Cell RSSI Plots</LinkTo></li>
  <li><LinkTo @route="stations.show.cellstatus.latency" @model={{model.station.id}}>Latency Plots</LinkTo></li>
  <li><a href="https://forecast.weather.gov/MapClick.php?lat={{model.station.latitudeFormatted}}&lon={{model.station.longitudeFormatted}}">Weather Forecast</a></li>
  <li>Metadata in <a target="_blank" href="https://anss-sis.scsn.org/sis/sites/findsite/?net={{model.station.networkCode}}&lookupcode={{model.station.stationCode}}">SIS</a></li>
  <li>Metadata published from SIS as
           <a href="http://files.anss-sis.scsn.org/production/dataless/{{model.station.networkCode}}/{{model.station.networkCode}}_{{model.station.stationCode}}.dataless">Dataless SEED</a>,
           <a href="http://files.anss-sis.scsn.org/production/FDSNstationXML/{{model.station.networkCode}}/{{model.station.networkCode}}_{{model.station.stationCode}}.xml">StationXML</a>,
           or <a href="http://files.anss-sis.scsn.org/production/Extended-XML/{{model.station.networkCode}}/{{model.station.networkCode}}_{{model.station.stationCode}}_ext.xml">Extended StationXML</a>.</li>
  <li><a target="_blank" href="https://{{model.station.stationCode}}.seis.sc.edu:9443">ACEManager</a> (if RV50)</li>
  <li><a target="_blank" href="http://ds.iris.edu/mda/{{model.station.networkCode}}/{{model.station.stationCode}}">IRIS MDA</a></li>
</ul>

{{outlet}}
