

<h3>Station: {{@model.station.codes}} <LinkTo @route="stations">Show All</LinkTo></h3>
<span>Choose Station: </span>
<select onchange={{action 'changeStation'  value="target.value"}}>
  {{#each model.stationList as |sta|}}
    {{#if sta.isActive}}
      <option value={{sta.id}} selected={{eq sta model.station}}>{{sta.stationCode}}</option>
    {{/if}}
  {{/each}}
</select>

<ShowHide @divTitle="Map">
  <div class="horizontal">
    <div>
      <QuakeStationMap class="smallmap"
          @stationlink='stations.station'
          @stations={{array @model.station}}
          @center={{@model.center}}
          @zoomLevel=6 >

      </QuakeStationMap>
    </div>
    <div>
      <ul>
        <li>Name: {{@model.station.name}}</li>
        <li>Desc: {{@model.station.description}}</li>
        <li>Start: {{@model.station.startTime}}</li>
        <li>End: {{@model.station.endTime}}</li>
        <li>Lat: {{@model.station.latitudeFormatted}}</li>
        <li>Lon: {{@model.station.longitudeFormatted}}</li>
        <li>Elev: {{@model.station.elevation}}</li>
        <li>Metadata in <a target="_blank" href="https://anss-sis.scsn.org/sis/sites/findsite/?net={{@model.station.networkCode}}&lookupcode={{@model.station.stationCode}}">SIS</a></li>
<li>Metadata published from SIS as
         <a target="_blank" href="http://files.anss-sis.scsn.org/production/dataless/{{@model.station.networkCode}}/{{@model.station.networkCode}}_{{@model.station.stationCode}}.dataless">Dataless SEED</a>,
         <a target="_blank" href="http://files.anss-sis.scsn.org/production/FDSNStationXML1.1/{{@model.station.networkCode}}/{{@model.station.networkCode}}_{{@model.station.stationCode}}.xml">StationXML</a>,
         or <a target="_blank" href="http://files.anss-sis.scsn.org/production/Extended-XML/{{@model.station.networkCode}}/{{@model.station.networkCode}}_{{@model.station.stationCode}}_ext.xml">Extended StationXML</a>.</li>
<li><a target="_blank" href="https://{{@model.station.stationCode}}.seis.sc.edu:9443">ACEManager</a> (if RV50)</li>
<li><a target="_blank" href="http://ds.iris.edu/mda/{{@model.station.networkCode}}/{{@model.station.stationCode}}">IRIS MDA</a></li>
<li><a target="_blank" href="http://service.iris.edu/fdsnws/station/1/query?net={{@model.station.networkCode}}&sta={{@model.station.stationCode}}&level=response&nodata=404">IRIS published StationXML</a></li>
<li><a target="_blank" href="https://forecast.weather.gov/MapClick.php?lat={{@model.station.latitudeFormatted}}&lon={{@model.station.longitudeFormatted}}">Weather</a></li>
      </ul>
    </div>
  </div>
</ShowHide>

<span>Choose Plot: </span>
<select onchange={{action 'changePlot'  value="target.value"}}>
  {{#each model.plotTypes as |plot|}}
      <option value={{plot}} selected={{eq plot plotType}}>{{plot}}</option>
  {{/each}}
</select>


{{outlet}}
