<h3>Latency for {{dataLatency.networkCode}}</h3>

<table>
  <tr>
    <th></th>
    {{#let 'eeyore' as |host|}}
      <th class={{if (gt (get dataLatency.statsFailures host) 0) "latency-conn-failure"}} >
        {{capitalize (host-to-short-name host)}}
        {{#if (gt (get dataLatency.statsFailures host) 0)}}
          ({{get dataLatency.statsFailures host}} failures)
        {{/if}}
      </th>
    {{/let}}
    <th></th>
    <th></th>
    <th class="tabledivider"></th>

    {{#let 'thecloud' as |host|}}
      <th class={{if (gt (get dataLatency.statsFailures host) 0) "latency-conn-failure"}} >
        {{capitalize (host-to-short-name host)}}
        {{#if (gt (get dataLatency.statsFailures host) 0)}}
          ({{get dataLatency.statsFailures host}} failures)
        {{/if}}
      </th>
    {{/let}}
    <th></th>
    <th></th>
    <th class="tabledivider"></th>

    {{#let 'rtserve' as |host|}}
      <th class={{if (gt (get dataLatency.statsFailures host) 0) "latency-conn-failure"}} >
        {{capitalize (host-to-short-name host)}}
        {{#if (gt (get dataLatency.statsFailures host) 0)}}
          ({{get dataLatency.statsFailures host}} failures)
        {{/if}}
      </th>
    {{/let}}
    <th></th>
    <th></th>
    <th class="tabledivider"></th>
  </tr>
  <tr>
    <th>Station</th>
    <th>UTC</th>
    <th>Latency</th>
    <th>Rate</th>
    <th></th>

    <th>UTC</th>
    <th>Latency</th>
    <th>Rate</th>
    <th></th>

    <th>UTC</th>
    <th>Latency</th>
    <th>Rate</th>
    <th></th>
  </tr>
  {{#each dataLatency.latencyData.latestData as |streamStat|}}
    <tr>
      <td><LinkTo @route='stations.station' @model={{streamStat.key}}>{{streamStat.key}}</LinkTo></td>
      <td class={{latency-seriousness streamStat.eeyore.end}}>{{moment-format streamStat.eeyore.end 'HH:mm:ss'}}</td>
      <td class={{latency-seriousness streamStat.eeyore.end}}>{{latency-as-text streamStat.eeyore.end  interval=10500}}</td>
      <td>{{format-number streamStat.velocity.eeyore 2}}</td>
      <td>{{latency-velocity-icon streamStat.velocity.eeyore}}</td>

      <td class={{latency-seriousness streamStat.thecloud.end}}>{{moment-format streamStat.thecloud.end 'HH:mm:ss'}}</td>
      <td class={{latency-seriousness streamStat.thecloud.end}}>{{latency-as-text streamStat.thecloud.end  interval=10500}}</td>
      <td>{{format-number streamStat.velocity.thecloud 2}}</td>
      <td>{{latency-velocity-icon streamStat.velocity.thecloud}}</td>

      <td class={{latency-seriousness streamStat.rtserve.end}}>{{moment-format streamStat.rtserve.end 'HH:mm:ss'}}</td>
      <td class={{latency-seriousness streamStat.rtserve.end}}>{{latency-as-text streamStat.rtserve.end  interval=10500}}</td>
      <td>{{format-number streamStat.velocity.rtserve 2}}</td>
      <td>{{latency-velocity-icon streamStat.velocity.rtserve}}</td>
    </tr>
  {{/each}}
</table>

<h5>Access at {{moment-format (utc dataLatency.latencyData.accessTime) 'YYYY-MM-DD HH:mm:ss'}} UTC,
   {{moment-from-now dataLatency.latencyData.accessTime  interval=10500}}</h5>
<h5>Rate averaged over last {{moment-diff dataLatency.previousLatencyCache.accessTime dataLatency.latencyData.accessTime precision='seconds'}} seconds.</h5>
<h5>Update Interval: {{dataLatency.latencyData.updateIntervalSeconds}} seconds</h5>
<h5>UTC: {{moment-format (utc (now interval=2000)) 'YYYY-MM-DD HH:mm:ss'}}</h5>
<h5>Local: {{moment-format (now interval=2000) 'YYYY-MM-DD HH:mm:ss'}}</h5>

{{yield}}
