<h3>Latency for {{dataLatency.networkCode}}</h3>

<table class="latencytable">
  <tr>
    <th></th>
    {{#let 'eeyore' as |host|}}
      <th class={{if (gt (get dataLatency.statsFailures host) 0) "latency-conn-failure"}} >
        {{capitalize (host-to-short-name host)}}
        {{#if (gt (get dataLatency.statsFailures host) 0)}}
          ({{get dataLatency.statsFailures host}} failures)
        {{/if}}
      </th>
    {{/let}}
    <th></th>
    <th></th>
    <th class="tabledivider"></th>

    {{#let 'cloud' as |host|}}
      <th class={{if (gt (get dataLatency.statsFailures host) 0) "latency-conn-failure"}} >
        {{capitalize (host-to-short-name host)}}
        {{#if (gt (get dataLatency.statsFailures host) 0)}}
          ({{get dataLatency.statsFailures host}} failures)
        {{/if}}
      </th>
    {{/let}}
    <th></th>
    <th></th>
    <th class="tabledivider"></th>

    {{#let 'iris' as |host|}}
      <th class={{if (gt (get dataLatency.statsFailures host) 0) "latency-conn-failure"}} >
        {{capitalize (host-to-short-name host)}}
        {{#if (gt (get dataLatency.statsFailures host) 0)}}
          ({{get dataLatency.statsFailures host}} failures)
        {{/if}}
      </th>
    {{/let}}
    <th></th>
    <th></th>
    <th class="tabledivider"></th>
  </tr>
  <tr>
    <th>Station</th>
    <th>UTC</th>
    <th>Latency</th>
    <th>Rate</th>
    <th></th>

    <th>UTC</th>
    <th>Latency</th>
    <th>Rate</th>
    <th></th>

    <th>UTC</th>
    <th>Latency</th>
    <th>Rate</th>
    <th></th>
  </tr>
  {{#each dataLatency.latencyData.latestData as |streamStat|}}
    <tr>
      <td class="station"><LinkTo @route='stations.station.helicorder' @model={{streamStat.key}}>{{streamStat.key}}</LinkTo></td>

      <td class={{latency-seriousness streamStat.eeyore.end}}>
        {{#if streamStat.eeyore.end}}{{moment-format streamStat.eeyore.end 'HH:mm:ss'}}{{else}} - {{/if}}
      </td>
      <td class={{latency-seriousness streamStat.eeyore.end}}>{{latency-as-text streamStat.eeyore.end  interval=10500}}</td>
      <td>{{format-number streamStat.velocity.eeyore 2}}</td>
      <td>{{latency-velocity-icon streamStat.velocity.eeyore}}</td>

      <td class={{latency-seriousness streamStat.cloud.end}}>
        {{#if streamStat.cloud.end}}{{moment-format streamStat.cloud.end 'HH:mm:ss'}}{{else}} - {{/if}}
      </td>
      <td class={{latency-seriousness streamStat.cloud.end}}>{{latency-as-text streamStat.cloud.end  interval=10500}}</td>
      <td>{{format-number streamStat.velocity.cloud 2}}</td>
      <td>{{latency-velocity-icon streamStat.velocity.cloud}}</td>

      <td class={{latency-seriousness streamStat.iris.end}}>
        {{#if streamStat.iris.end}}{{moment-format streamStat.iris.end 'HH:mm:ss'}}{{else}} - {{/if}}
      </td>
      <td class={{latency-seriousness streamStat.iris.end}}>{{latency-as-text streamStat.iris.end  interval=10500}}</td>
      <td>{{format-number streamStat.velocity.iris 2}}</td>
      <td>{{latency-velocity-icon streamStat.velocity.iris}}</td>
    </tr>
  {{/each}}
</table>

<h5>Access at {{moment-format (utc dataLatency.latencyData.accessTime) 'YYYY-MM-DD HH:mm:ss'}} UTC,
   {{moment-from-now dataLatency.latencyData.accessTime  interval=10500}}</h5>
<h5>Rate averaged over last {{#if dataLatency.previousLatencyCache}}
  {{moment-diff dataLatency.previousLatencyCache.accessTime dataLatency.latencyData.accessTime precision='seconds'}}
  {{else}}
  -
  {{/if}} seconds.</h5>
<h5>Update Interval: {{dataLatency.latencyData.updateIntervalSeconds}} seconds</h5>
<h5>UTC: {{moment-format (utc (now interval=2000)) 'YYYY-MM-DD HH:mm:ss'}}</h5>
<h5>Local: {{moment-format (now interval=2000) 'YYYY-MM-DD HH:mm:ss'}}</h5>

{{yield}}
