

<h3>Cell Status Plots
  <LinkTo @route="stations">{{model.station.networkCode}}</LinkTo>
  <LinkTo @route="stations.show" @model={{model.station}}>{{model.station.stationCode}}</LinkTo></h3>
<h5>Days: {{days}} End: {{end}}</h5>


<ul class="horizontal">
  <li>
    <button {{action "refresh"}} >Refresh</button>
  </li>
  <li><button {{action "goPrev"}}>Prev</button></li>
  <li><button {{action "goNext"}}>Next</button></li>
  <li><button {{action "goNow"}}>Now</button></li>
</ul>
<ul class="horizontal">
  <li><LinkTo @route="stations.show.cellstatus" @query={{hash days="3"}}>3 Days</LinkTo></li>
  <li><LinkTo @route="stations.show.cellstatus" @query={{hash days="7"}}>Week</LinkTo></li>
  <li><LinkTo @route="stations.show.cellstatus" @query={{hash days="30"}}>Month</LinkTo></li>
</ul>



{{outlet}}
