

<h3>Cell Voltage {{model.station.codes}}</h3>

<p>len: {{model.cellstatus.length}}</p>

{{cellstatus-plot statusData=model.cellstatus plotkeys='volts'}}

{{cellstatus-plot statusData=model.cellstatus plotkeys='rssi'}}

<ul>
{{#each model.cellstatus as |daystat|}}
<li>Day: {{daystat.id}} {{daystat.values.length}}</li>
{{#each daystat.values as |val|}}
<li>{{val.time}} {{val.volt}} {{val.netrssi}}</li>
{{/each}}
{{/each}}
</ul>

{{outlet}}
