

<h3>Cell Voltage {{#link-to 'stations.show' model.station }}{{model.station.codes}}{{/link-to}}</h3>

<button {{action "refresh"}} >Refresh</button>

<p>len: {{model.cellstatus.length}}</p>

{{cellstatus-plot statusData=model.cellstatus plotkeys='volts'}}

{{cellstatus-plot statusData=model.cellstatus plotkeys='rssi'}}

{{cellstatus-plot statusData=model.cellstatus plotkeys='latency'}}

<ul>
{{#each model.cellstatus as |daystat|}}
<li>Day: {{daystat.id}} {{daystat.values.length}}</li>
{{#each daystat.values as |val|}}
<li>{{val.time}} {{val.volt}} {{val.netrssi}} {{val.latency.eeyore}}</li>
{{/each}}
{{/each}}
</ul>

{{outlet}}
