

<h3>Cell Voltage</h3>

<p>len: {{model.length}}</p>

{{cellstatus-plot statusData=model}}

<ul>
{{#each model as |daystat|}}
<li>Day: {{daystat.id}} {{daystat.values.length}}</li>
{{#each daystat.values as |val|}}
<li>{{val.time}} {{val.volt}} {{val.netrssi}}</li>
{{/each}}
{{/each}}
</ul>

{{outlet}}
