

<h3>Cell Status Plots
  {{#link-to 'stations'}}{{model.station.networkCode}}{{/link-to}}
  {{#link-to 'stations.show' model.station }}{{model.station.stationCode}}{{/link-to}}</h3>
<h5>Days: {{days}} End: {{end}}</h5>


<ul class="horizontal">
  <li>
    <button {{action "refresh"}} >Refresh</button>
  </li>
  <li><button {{action "goPrev"}}>Prev</button></li>
  <li><button {{action "goNext"}}>Next</button></li>
  <li><button {{action "goNow"}}>Now</button></li>
</ul>
<ul class="horizontal">
  <li>{{#link-to "stations.show.cellstatus" (query-params days="3")}}3 Days{{/link-to}}</li>
  <li>{{#link-to "stations.show.cellstatus" (query-params days="7")}}Week{{/link-to}}</li>
  <li>{{#link-to "stations.show.cellstatus" (query-params days="30")}}Month{{/link-to}}</li>
</ul>



{{outlet}}
