

<h3>Cell Status Plots
  {{#link-to 'stations'}}{{model.station.networkCode}}{{/link-to}}
  {{#link-to 'stations.show' model.station }}{{model.station.stationCode}}{{/link-to}}</h3>
<h5>Days: {{days}} End: {{end}}</h5>


<p>len: {{model.cellstatus.length}}</p>

<!--
{{cellstatus-plot statusData=model.cellstatus plotkeys='volts' end=model.end start=model.start }}

{{cellstatus-plot statusData=model.cellstatus plotkeys='rssi' end=model.end start=model.start }}

{{cellstatus-plot statusData=model.cellstatus plotkeys='latency' end=model.end start=model.start }}
-->

<!--
<ul>
{{#each model.cellstatus as |daystat|}}
<li>Day: {{daystat.id}} {{daystat.values.length}}</li>
{{#each daystat.values as |val|}}
<li>{{val.time}} {{val.volt}} {{val.netrssi}} {{val.latency.eeyore}}</li>
{{/each}}
{{/each}}
</ul>
-->

{{outlet}}
