
<h5>Velocity Seismometer</h5>
<img src="http://eeyore.seis.sc.edu:16022/heli?code={{model.station.stationCode}}_HHZ_{{model.station.network.networkCode}}_00"
 alt="helicorder {{model.station.codes}} - {{model.station.name}}"/>

 <h5>Acceleration, Strong Motion</h5>
 <img src="http://eeyore.seis.sc.edu:16022/heli?code={{model.station.stationCode}}_HNZ_{{model.station.network.networkCode}}_00"
  alt="helicorder {{model.station.codes}} - {{model.station.name}}"/>

{{outlet}}
