
<h3>Station: {{model.codes}} {{#link-to 'stations'}}Show All{{/link-to}}</h3>
<ul>
  <li>{{model.name}}</li>
  <li>{{model.description}}</li>
  <li>{{model.startTime}}</li>
  <li>{{model.endTime}}</li>
  <li>{{model.latitudeFormatted}}</li>
  <li>{{model.longitudeFormatted}}</li>
  <li>{{model.elevation}}</li>
</ul>

<ul>
  <li>{{#link-to 'stations.show.cellstatus' chan.station }}Voltage and Cell Status Plots{{/link-to}}</li>
  <li>Metadata in <a href="https://anss-sis.scsn.org/sis/sites/findsite/?net={{model.networkCode}}&lookupcode={{model.stationCode}}">SIS</a></li>
  <li><a href="https://{{model.stationCode}}.seis.sc.edu:9443">ACEManager</a> (if RV50)</li>
  <li><a href="http://ds.iris.edu/mda/{{model.networkCode}}/{{model.stationCode}}">IRIS MDA</a></li>
</ul>

<h5>Current Channels {{model.channels.length}}</h5>
<ul>
  {{#each model.channels as |chan|}}
    {{#if chan.isActive}}
      <li>
      {{#link-to 'stations.show.channel' chan.station chan }}
        {{chan.codes}}
      {{/link-to}}
      </li>
    {{else}}
    {{/if}}
  {{/each}}
</ul>


<h5>Inactive Channels</h5>
<ul>
  {{#each model.channels as |chan|}}
    {{#if chan.isActive}}
    {{else}}
    <li>{{chan.codes}} {{chan.endTime}}</li>
    {{/if}}
  {{/each}}
</ul>
{{outlet}}
