

<h3>Active Channels</h3>
<ul>
  {{#each model.channelList as |chan|}}
    {{#if chan.isActive}}
      <li>
        <LinkTo @route="stations.show.channels.show" @models={{array model.station.id chan.id}}>
          {{chan.locationCode}}.{{chan.channelCode}}
        </LinkTo>
      </li>
    {{/if}}
  {{/each}}
</ul>

<h3>Inactive Channels</h3>
<ul>
  {{#each model.channelList as |chan|}}
    {{#if (not chan.isActive)}}
      <li>{{chan.locationCode}}.{{chan.channelCode}} {{moment-format chan.startTime 'YYYY-MM-DD'}} to {{moment-format chan.endTime 'YYYY-MM-DD'}}</li>
    {{/if}}
  {{/each}}
</ul>
{{outlet}}
