<h3>Channel {{model.codes}}</h3>

<p><LinkTo @route="stations.show" @model={{model.station}}>{{model.station.codes}}</LinkTo></p>

<table>
  <tbody>
    <tr><th>Name:</th><td>{{model.name}}</td></tr>
    <tr><th>Desc:</th><td>{{model.description}}</td></tr>
    <tr><th>Start:</th><td>{{model.startTime}}</td></tr>
    <tr><th>End:</th><td>{{model.endTime}}</td></tr>
    <tr><th>Lat:</th><td>{{model.latitudeFormatted}}</td></tr>
    <tr><th>Lon:</th><td>{{model.longitudeFormatted}}</td></tr>
    <tr><th>Elev:</th><td>{{model.elevation}}</td></tr>
    <tr><th>Depth:</th><td>{{model.depth}}</td></tr>
    <tr><th>Az:</th><td>{{model.azimuth}}</td></tr>
    <tr><th>Dip:</th><td>{{model.dip}}</td></tr>
    <tr><th>Samp:</th><td>{{model.sampleRate}}</td></tr>
    <tr><th>Restr.:</th><td>{{model.restrictedStatus}}</td></tr>
    <tr><th>Sens.:</th><td>{{model.instrumentSensitivity.sensitivity}} {{model.instrumentSensitivity.outputUnits}} per {{model.instrumentSensitivity.inputUnits}}</td></tr>
  </tbody>
</table>

<RingserverSeismogramDisplay @channel={{model}}>
</RingserverSeismogramDisplay>

{{outlet}}
