

<h3>Latency to {{model.destination}}</h3>

<p>from {{model.start}} to {{model.end}}</p>

<CellstatusPlot @statusData={{model.cellstatus}} @plotkeys="latency" @destination={{model.destination}} @end={{model.end}} @start={{model.start}} />

{{outlet}}
