


<p>Dest: qp {{queryParams.destination}} model {{destination}} bare  {{destination}}</p>

{{cellstatus-plot statusData=model.cellstatus plotkeys='latency' destination=model.destination end=model.end start=model.start }}

{{outlet}}
