
<h3>Global Seismic Events</h3>

<h5>Global Earthquakes of Magnitude 6 and Greater in last 30 Days</h5>

<div class="quakeList">

  <ShowHide @divTitle="Map">
    <QuakeStationMap class="smallmap" @stations={{@model.activeStations}} @quakes={{@model.quakeList}} @center={{@model.center}} @zoomLevel=1 />
  </ShowHide>
  <ShowHide @divTitle="Seismic Events ">
    <QuakeList @thelink="global-quakes.quake" @quakes={{@model.quakeList}} @sortDefinition="time:desc"></QuakeList>
  </ShowHide>
</div>

{{outlet}}
