
<h3>Global Earthquakes of Magnitude 6 and Greater in last 30 Days</h3>

<div class="quakeList">
  <h1>Quakes</h1>
  <h5>Found {{@model.quakeList.length}} {{@this.sortedQuakes.length}}</h5>
  <h5>Center lat={{@model.center.latitude}} lng={{@model.center.longitude}}</h5>
  <h5>Zoom: {{@zoomLevel}}</h5>

  <ShowHide @divTitle="Map">
    <QuakeStationMap class="smallmap"  @center={{@model.center}} @zoomLevel=1 />
  </ShowHide>
  <ShowHide @divTitle="Seismic Events ">
    <QuakeList @thelink="global-quakes/quake"  @sortDefinition="time:desc"></QuakeList>
  </ShowHide>
</div>

{{outlet}}
