<div class="quakeList">
  <h1>Quakes</h1>
  <h5>Found {{@model.quakeList.length}} {{@this.sortedQuakes.length}}</h5>
  <h5>Center lat={{@model.center.latitude}} lng={{@model.center.longitude}}</h5>
  <h5>Zoom: {{@model.zoomLevel}}</h5>

  <ShowHide @divTitle="Map">
    <p>Map here</p>
    <QuakeStationMap class="smallmap"  @center={{@model.center}} @zoomLevel=6 />
  </ShowHide>
  <ShowHide @divTitle="Seismic Events in Last Year">
    <QuakeList @quakes={{@model.yearQuakes}} @sortDefinition="time:desc"></QuakeList>
  </ShowHide>
  <ShowHide @divTitle="Older Seismic Events">
    <QuakeList @quakes={{@model.oldQuakes}}></QuakeList>
  </ShowHide>
</div>
