
  <h3>Seismic Events near SC</h3>

  <div class="quakeList">
  <ShowHide @divTitle="Map">
    <QuakeStationMap class="smallmap" @quakelink='quakes.quake'  @stationlink='stations.station' @quakeQueryBox={{@model.quakeQueryBox}} @stations={{@model.activeStations}} @quakes={{@model.yearQuakes}} @center={{@model.center}} @zoomLevel=7 >

    </QuakeStationMap>
  </ShowHide>
  <ShowHide @divTitle="Seismic Events in Last Year">
    <QuakeList @thelink='quakes.quake' @quakes={{@model.yearQuakes}} @sortDefinition="time:desc"></QuakeList>
  </ShowHide>
  <ShowHide @divTitle="Older Seismic Events">
    <QuakeList @thelink='quakes.quake' @quakes={{@model.oldQuakes}}></QuakeList>
  </ShowHide>
</div>
