
<h3>Earthquakes near South Carolina since {{moment-format model.quakeQueryParams.startTime "YYYY-MM-DD"}}</h3>

{{#leaflet-map lat=model.center.latitude lng=model.center.longitude zoom=7 class="quakemap"  scrollWheelZoom=false }}
  {{tile-layer url="https://server.arcgisonline.com/ArcGIS/rest/services/Ocean_Basemap/MapServer/tile/{z}/{y}/{x}"}}

  {{#polygon-layer locations=model.quakeQueryBox color="lightgrey"}}
    {{#tooltip-layer sticky=true}}
      Earthquake Search Region
    {{/tooltip-layer}}
  {{/polygon-layer}}

  {{#each model.activeStations as |s|}}
    {{#marker-layer lat=s.latitude lng=s.longitude  icon=(div-icon className='stationMarker' ) zIndexOffset=100 }}
      {{#popup-layer}}
        <h3>Station: {{#link-to 'stations.show' s.id }}{{s.codes }} {{s.latitude}} {{s.longitude}}{{/link-to}}</h3>
      {{/popup-layer}}
    {{/marker-layer}}
  {{/each}}

  {{#each model.inactiveStations as |s|}}
    {{#marker-layer lat=s.latitude lng=s.longitude icon=(div-icon className='inactiveStationMarker')  zIndexOffset=-10 }}
      {{#popup-layer}}
        <h3>Station: {{#link-to 'stations.show' s.id }}{{s.codes }} {{s.latitude}} {{s.longitude}}{{/link-to}}</h3>
      {{/popup-layer}}
    {{/marker-layer}}
  {{/each}}


  {{#each model.oldQuakes as |q|}}
    {{#circle-marker-layer lat=q.latitude lng=q.longitude radius=5 color='darkGrey'}}
      {{#popup-layer}}
        <h3>Event: {{#link-to 'quakes.detail' q.id }}{{moment-format q.time }} {{q.quake.prefMagnitude.magFormatted}} {{q.quake.prefMagnitude.magType}}{{/link-to}}</h3>
      {{/popup-layer}}
    {{/circle-marker-layer}}
  {{/each}}

  {{#each model.yearQuakes as |q|}}
    {{#circle-marker-layer lat=q.latitude lng=q.longitude radius=(magnitude-to-radius q.prefMagnitude.mag 7) }}
      {{#popup-layer}}
        <h3>Event: {{#link-to 'quakes.detail' q.id }}{{moment-format q.time }} {{q.quake.prefMagnitude.magFormatted}} {{q.quake.prefMagnitude.magType}}{{/link-to}}</h3>
      {{/popup-layer}}
    {{/circle-marker-layer}}
  {{/each}}
{{/leaflet-map}}

<p>Events less then one year: {{model.yearQuakes.length}} (blue circles), older events {{model.oldQuakes.length}}, (grey circles)</p>

<table>
  <tr>
    <th>EventId</th>
    <th>Time</th>
    <th>Latitude/Longitude</th>
    <th>Depth</th>
    <th>Magnitude</th>
  </tr>
  {{#each model.yearQuakes as |q|}}
  <tr>
    <td>{{#link-to 'quakes.detail' q.id }}{{q.eventId}}{{/link-to}}</td>
    <td>{{moment-format q.time }}</td>
    <td>{{q.latitude}}/{{q.longitude}}</td>
    <td>{{q.depth}}</td>
    <td>{{q.prefMagnitude.mag}}</td>
  </tr>
  {{/each}}
</table>


<p>Events Older: {{model.oldQuakes.length}}</p>

<table>
  <tr>
    <th>EventId</th>
    <th>Time</th>
    <th>Latitude/Longitude</th>
    <th>Depth</th>
    <th>Magnitude</th>
  </tr>
  {{#each model.oldQuakes as |q|}}
  <tr>
    <td>{{#link-to 'quakes.detail' q.id }}{{q.eventId}}{{/link-to}}</td>
    <td>{{moment-format q.time }}</td>
    <td>{{q.latitude}}/{{q.longitude}}</td>
    <td>{{q.depth}}</td>
    <td>{{q.prefMagnitude.mag}}</td>
  </tr>
  {{/each}}
</table>
{{outlet}}
