
<ShowHide @divTitle="Map">
  <div class="horizontal">
    <div>
      <QuakeStationMap class="smallmap"
        @stations={{@model.activeStations}}
        @quakes={{@model.quake}}
        @quakelink='quakes.quake'
        @stationlink='stations.station'
        @quakeQueryBox={{@model.quakeQueryBox}}
        @center={{@model.center}}
        @zoomLevel=6 />
    </div>
    <div>
      {{#let model.quake as |q|}}
      <table>
        <tr>
          <th>Desc</th>
          <td>{{q.description}}</td>
        </tr>
        <tr>
          <th>EventId</th>
          <td>{{q.eventId}}</td>
        </tr>
        <tr>
          <th>Time</th>
          <td>{{moment-format q.time }}</td>
        </tr>
        <tr>
          <th>Latitude/Longitude</th>
          <td>{{q.preferredOrigin.latitude}}/{{q.preferredOrigin.longitude}}</td>
        </tr>
        <tr>
          <th>Depth</th>
          <td>{{m-to-km q.preferredOrigin.depth}} km</td>
        </tr>
        <tr>
          <th>Magnitude</th>
          <td>{{q.preferredMagnitude.mag}} {{q.preferredMagnitude.magType}}</td>
        </tr>
      </table>
      {{/let}}
    </div>
  </div>
</ShowHide>

<ShowHide @divTitle="Organized Seismograms">
  <SeismogramDisplayList @seismographConfig={{@model.seismographConfig}} @seisDisplayList={{@model.seisDataList}} sortDefinition='distaz.distanceKm' as |sddList|>
    {{#each sddList.organizedDisplayList as |org|}}
      <SeismogramLoader @seisDataList={{org.seisData}}  as |loader| >
        {{#if loader.isRunning}}
          <h5>Loading...</h5>
        {{else}}
          <OrganizedDisplay @organized={{org}} />
        {{/if}}
      </SeismogramLoader>
    {{/each}}
  </SeismogramDisplayList>
</ShowHide>

{{outlet}}
