
<h3>{{model.quake.description}}</h3>

<ShowHide @divTitle="Map">
  <QuakeStationMap class="smallmap" @stations={{@model.activeStations}} @quakes={{@model.quake}}  @quakelink='quakes.quake'  @stationlink='stations.station' @quakeQueryBox={{@model.quakeQueryBox}} @center={{@model.center}} @zoomLevel=7 />
</ShowHide>


<ShowHide @divTitle="Info">
{{#let model.quake as |q|}}
<table>
  <tr>
    <th>Desc</th>
    <td>{{q.description}}</td>
  </tr>
  <tr>
    <th>EventId</th>
    <td>{{q.eventId}}</td>
  </tr>
  <tr>
    <th>Time</th>
    <td>{{moment-format q.time }}</td>
  </tr>
  <tr>
    <th>Latitude/Longitude</th>
    <td>{{q.preferredOrigin.latitude}}/{{q.preferredOrigin.longitude}}</td>
  </tr>
  <tr>
    <th>Depth</th>
    <td>{{m-to-km q.preferredOrigin.depth}} km</td>
  </tr>
  <tr>
    <th>Magnitude</th>
    <td>{{q.preferredMagnitude.mag}} {{q.preferredMagnitude.magType}}</td>
  </tr>
</table>
{{/let}}
</ShowHide>


<ShowHide @divTitle="Seismograms">
  <SeismogramDisplayList @seisDisplayList={{@model.seisDisplayList}} @sortDefinition='distaz.distanceKm'>
  </SeismogramDisplayList>
</ShowHide>

{{outlet}}
