
<ShowHide @divTitle="Helicorder">

  <span>Choose Channel: </span>
  <select onchange={{action 'changeChannel'  value="target.value"}}>
    {{#each model.activeChannelList as |ch|}}
        <option value={{ch.id}} selected={{eq ch.id selectedChannel.id}}>{{ch.codes}} - {{equipment-description ch.sensor}}</option>
    {{/each}}
  </select>

    <HelicorderDataLoader @channel={{selectedChannel}} @duration='P0Y0M1D' as |loader| >
      {{#if loader.isRunning}}
        <p>Loading...</p>
      {{else}}
          <HelicorderDisplay @start={{loader.start}} @end={{loader.end}} @helicorderData={{loader.helicorderData}}>
          </HelicorderDisplay>
      {{/if}}
    </HelicorderDataLoader>

</ShowHide>





{{outlet}}
